.jumbotron {
  background-image: url("      <div class="col-md-12 jumbotron text-center" style="background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYxOsAKc1iM5M9Bg0zE-jP_kqk5USKlQmCmkyfOlhAvPi8tV7ISlHGHTomyBCsMNa766c&usqp=CAU)" >
  ");
  background-size: 100% 100%;
  text-align: center;
}

body {
  background-color: #F5F5F5;
}